<!-- About 1 - Bootstrap Brain Component -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>No Fishes</title>
    <link rel="stylesheet" href="https://unpkg.com/bootstrap@5.3.0/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://unpkg.com/bs-brain@2.0.0/components/abouts/about-1/assets/css/about-1.css" />
</head>

<body data-bs-theme="dark">
    <section class="py-3 py-md-5 py-xl-8">
        <div class="container">
            <div class="row gy-3 gy-md-4 gy-lg-0 align-items-lg-center">
                <div class="col-12 col-lg-12 col-xl-7">
                    <div class="row justify-content-xl-center">
                        <div class="col-12 col-xl-11">
                            <h1><img width="100px" height="100px" src="../static/images/fish-bones-crop.PNG" alt=""> <img width="300px"
                                    height="100px" src="../static/images/no-fishes-text.PNG" alt=""></h1>
                            <h2 class="h1 mb-3"> Who
                                Are We?</h2>
                            <p class="lead fs-4 text-secondary mb-3">We aim to provide people with the ability to take
                                their web security in their own hands and explore the web safely. </p>
                            <p class="mb-5">Nullam gravida orci ac luctus molestie. Fusce finibus congue erat, non
                                aliquam
                                magna tincidunt at. Aenean lacinia arcu ex, sed pharetra nibh porta a. Curabitur vel
                                consequat nibh, ac interdum nisl. Nunc pulvinar nec massa vitae sollicitudin.</p>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </section>
</body>

</html>